<!doctype html>
<html lang="<%= site.data.site_metadata.lang %>">
  <head>
    <%= render "head", metadata: site.data.site_metadata, title: page.data.title %>
    <%= render "gtags" if ENV["GTAGS_ID"].present? %>
  </head>
  <body class="<%= page.data.layout %>">
    <%= render "header", metadata: site.data.site_metadata %>

    <main class="main">
      <%= yield %>
    </main>

    <%= render "footer", metadata: site.data.site_metadata %>
  </body>
</html>
