---
layout: default
---

<div class="article">
  <h2 class="text-center"><%= page.data.title %></h2>

  <div class="tags">
    <% page.data.tags.each do |tag|%>
      <div><%= tag.capitalize %></div>
    <% end %>
  </div>

  <%= date_to_string page.data.date, :ordinal %>

  <div><%= markdownify content %></div>

  <p>
    última actualización <%= date_to_string page.data.last_modified_at, :ordinal %>
  </p>
</div>
