---
layout: default
---

<div class="article">
  <h2 class="text-center">
    <%= page.data.title %>
    <div class="article_date"><%= date_to_string page.data.date, :ordinal %></div>
  </h2>

  <div class="tags">
    <% page.data.tags.each do |tag|%>
      <div><%= tag.capitalize %></div>
    <% end %>
  </div>

  <div class="article_content"><%= markdownify content %></div>

  <p>
    última actualización <%= date_to_string page.data.last_modified_at, :ordinal %>
  </p>
</div>
