---
layout: default
---

<div>
  <h1><%= page.data.title %></h1>

  <div>
    <div>
      <% page.data.categories.each do |tag|%>
        <div><%= tag.capitalize %></div>
      <% end %>
    </div>
    <div>| <%= date_to_string page.data.date, :ordinal %></div>
  </div>
</div>

<div>
  <%= markdownify content %>

  <p>
    última actualización <%= date_to_string page.data.last_modified_at, :ordinal %>
  </p>
</div>
