<div class="border-b-2 hover:border-green-700">
  <a href="{{ post.url }}">
    <h1 class="text-xl font-bold md:text-2xl">{{ post.title }}</h1>
    <div class="flex flex-wrap justify-start py-4">
      <div class="flex flex-row">
        {% for tag in post.tags %}
          <div class="mr-1">{{ tag | titleize }}</div>
        {% endfor %}
      </div>
      <div>| {{ post.date | date_to_long_string }}</div>
    </div>
    <div class="pb-4">{{ post.excerpt | markdownify }}</div>
  </a>
</div>
