<a href="{{ metadata.github }}" target="_blank">
  {% svg images/github.svg width=24 %}
</a>
<a href="{{ metadata.youtube }}" target="_blank">
  {% svg images/youtube.svg width=24 %}
</a>
<a href="{{ metadata.twitter }}" target="_blank">
  {% svg images/twitter.svg width=24 %}
</a>
<a href="mailto:{{ metadata.email }}">
  {% svg images/email.svg width=24 %}
</a>
<a href="{{ metadata.rss }}" target="_blank">
  {% svg images/rss.svg width=24 %}
</a>
